@import url(reset.css);
.title {
  color: red;
  text-transform: uppercase;
}
header nav {
  border: 1px solid red;
}
header a {
  margin-left: 10px;
}
.navigate {
  color: green;
  text-decoration: none;
}
.active,
.navigate:hover {
  color: red;
}
.navigate:hover:not(.active) {
  color: blue;
}
section {
  border: 2px solid pink;
}
.film {
  border: 2px solid green;
}
.cover {
  border-radius: 10px;
}
.film p {
  font-weight: bold;
}
.range :first-child {
  color: yellow;
}
.range :last-child {
  color: green;
}
.heshteg :nth-last-child(even) {
  color: yellow;
}
.film:nth-last-child(2) li:nth-last-child(2) {
  background-color: pink;
}

footer h5 {
  color: silver;
  text-align: center;
}
