@import url(reset.css);
div h3 {
  color: red;
  text-transform: uppercase;
}
nav {
  border: 1px solid red;
}
nav a:link {
  color: green;
  text-decoration: none;
}
nav a:visited {
  color: red;
}
nav a:hover {
  color: blue;
}
nav a:active {
  color: red;
}
section {
  border: 2px solid pink;
}
.film {
  border: 2px solid green;
}
.film img {
  border-radius: 10px;
}
.film :nth-child(4) {
  width: 200px;
  height: 100px;
}
.film :nth-child(5) {
  font-weight: bold;
}
.range :first-child {
  color: yellow;
}
.range :last-child {
  color: green;
}
.heshteg :nth-last-child(even) {
  color: yellow;
}
.film:nth-last-child(2) li:nth-last-child(2) {
  background-color: pink;
}
footer h5 {
  color: silver;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
